* {
    margin: 0px;
    padding: 0px;
}

$mainFontSize: 16px;
$tabletFontSize: 14px;
$phoneAlbumFontSize: 12px;

$mainFontWeight: 500;
$firstColor: #fff;
$secondColor: #323232;
$thirdColor: #999999;
$fourthColor: #4985FF;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $mainFontSize;
    color: $firstColor;
    font-weight: $mainFontWeight;
    box-sizing: border-box;

    @media (max-width: 768px) {
        font-size: $tabletFontSize;
    }

    @media (max-width: 480px) {
        font-size: $phoneAlbumFontSize;
    }
}

a {
    color: $fourthColor;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
}

a:active {
    color: $fourthColor;
}

a:visited {
    color: $fourthColor;
}

/* head */

.head {
    border-bottom: 1px solid rgba($color: #A1A1A1, $alpha: 0.5);

    &__nav {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: unset;
            align-items: flex-start;
        }
    }

    &__item {
        padding: 40px 20px;
        transition: 0.5s ease;
        border-bottom: 2px solid rgba($color: $firstColor, $alpha: 0.0);
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $firstColor;
        }

        @media (max-width: 768px) {
            padding: 10px 0px;
        }
    }

    @media (max-width: 768px) {
        border-bottom: unset;
        background-color: $fourthColor;
    }
}

/* main */

.main {
    background-image: url(/images/default-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 900px;
    
    &__content {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: 20px;
        font-weight: 800;
        font-size: 3em;
        line-height: 64px;
        text-align: center;

        @media (max-width: 480px) {
            font-size: 2em;
            line-height: 32px;
        }
    }

    &__button {
        margin-top: 50px;

        @media (max-width: 480px) {
            margin-top: 20px;
        }
    }
}

/* direction */

.direction {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
        padding-bottom: 105px;

        @media (max-width: 768px) {
            align-items: flex-start;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__topic {
        max-width: 739px; 
    }

    &__title {
        @media (max-width: 768px) {
            text-align: start !important;
        }
    }

    &__subtitle {
        margin-top: 50px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 20px;
            text-align: justify;
        }
    }

    &__list {
        display: flex;
        column-gap: 27px;
        margin-top: 70px;

        @media (max-width: 1110px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }

        @media (max-width: 480px) {
            margin-top: 20px;
        }
    }

    &__item {
        flex: 0 1 33.333%;
        display: flex; 
        column-gap: 17px; 
        
        @media (max-width: 1110px) {
            flex: 0 1 50%;
        }

        @media (max-width: 768px) {
            flex-grow: 1;
        }

        @media (max-width: 480px) {
            flex-direction: column;
            column-gap: unset;
        }
    }
    
    &__text {
        padding-top: 45px;

        @media (max-width: 480px) {
            padding-top: 10px;
        }
    }

    &__item-description {
        font-size: 0.875em;
        margin-top: 12px;
    }

    &__button {
        margin-top: 55px;

        @media (max-width: 768px) {
            align-self: center;
        }
    }
}

/* standards */

.standards { 
    background-color: #F6F6F8;

    &__content {
        display: flex;
        padding-top: 100px;
        padding-bottom: 90px;
        border-bottom: 1px solid #E0E0E0;
        column-gap: 121px; 
        
        @media (max-width: 1110px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 50px;
            padding-top: unset;
        }
    }

    &__title {
        margin-top: 50px;
        text-align: start !important;
    }

    &__subtitle {
        margin-top: 40px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    &__link {
        margin-top: 30px;
    }

    &__image img {        
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); 

        @media (max-width: 1110px) {
            width: 100%;
            height: 100%;
        }
    } 

    &__list {
        display: flex;
        column-gap: 100px;
        padding: 70px 100px;

        @media (max-width: 1110px) {
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 50px;
            row-gap: 50px;
            padding: 20px 0px;
        }
    }

    &__item-top {
        display: flex;
    }

    &__icon {
        align-self: center;
        margin-right: 20px;
    }

    &__count {
        line-height: 28px;
        font-weight: 400;
        color: #000000;
        font-size: 2.25em;
    }
}

/* specialty */

.specialty {
    height: 490px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    margin-bottom: 482px;

    @media (max-width: 1110px) {
        margin-bottom: 964px;
    }

    @media (max-width: 770px) {
        margin-bottom: 1600px;
    }

    @media (max-width: 442px) {
        margin-bottom: 1500px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            text-align: justify;
        }
    }

    &__head {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            align-items: unset;
            justify-content: unset;
            flex-wrap: wrap;
            row-gap: 20px;
            margin-top: 20px;
        }
    }

    &__title {
        color: #fff !important;
        text-align: start !important;
        width: 540px;
        flex-shrink: 1;
        flex-grow: 0;
    }

    &__button {
        flex-shrink: 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        padding-bottom: 85px;
        border-bottom: 1px solid #E0E0E0;

        @media (max-width: 1110px) {
            row-gap: 30px;
            column-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: unset;
        }
    }

    &__item > div:not(:last-child) {
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 350px;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    &__image img{
        border-radius: 10px;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    &__number {
        color: $fourthColor;
    }
}

/* projects */

.projects {
    background-color: #F6F6F8;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 768px) {
            align-items: flex-start;
        }
    }

    &__title {
        color: #000 !important;
        margin-top: 100px;

        @media (max-width: 768px) {
            margin-top: 30px;
            text-align: start !important;
        }
    }

    &__subtitle {
        margin-top: 50px;
        max-width: 730px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 10px;
            text-align: justify;
        }
    }

    &__list {
        margin-top: 70px;
        display: flex;
        column-gap: 30px;

        @media (max-width: 1110px) {
            flex-wrap: wrap;
            row-gap: 30px;
            justify-content: center;
        }
    }

    &__item img {
        border-radius: 10px;
    }

    &__button {
        margin-top: 50px;
        margin-bottom: 130px;

        @media (max-width: 768px) {
            align-self: center;
            margin-bottom: 50px;
        }
    }
}

/* video */

.video {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(/images/default-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    height: 570px;
    margin-bottom: 195px;
    
    @media (max-width: 1110px) {
        margin-bottom: 0px; 
    }

    @media (max-width: 768px) {
        height: 285px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;  
        
        @media (max-width: 1110px) {
            border-bottom: unset; 
        }

        @media (max-width: 768px) {
            align-items: flex-start;
        }
    }

    &__title, 
    &__subtitle {
        color: #fff !important;
    }

    &__title {
        margin-top: 70px;
        
        @media (max-width: 768px) {
            margin-top: 20px;
            text-align: start !important;
        }
    }

    &__subtitle {
        @media (max-width: 768px) {
            margin-top: unset;
        }
    }

    &__link {
        display: none;

        @media (max-width: 768px) {
            display: block;
            margin-top: 10px;
            background-color: #fff;
            padding: 10px 15px;
            border-radius: 20px;
        }
    }

    &__video {
        margin-top: 70px;
        height: 430px;
        width: 970px;
        margin-bottom: 85px;

        @media (max-width: 1110px) {
            height: 322.5px;
            width: 727.5px;
        }

        @media (max-width: 768px) {
            display: none;
        }

    }

    &__video img {
        filter: drop-shadow(0px 0px 10px rgba(111, 111, 111, 0.25));
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }

    &__play {
        width: 300px;
        height: 100px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 21px;
        position: relative;
        left: calc(50% - 150px);
        top: calc(-50% - 55px);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.2);
        }

        @media (max-width: 1110px) {
            column-gap: unset;
            width: 225px;
            height: 75px;
            left: calc(50% - 112.5px);
            top: calc(-50% - 37.5px);
        }

    }

    &__icon {

        display: flex;

        img {
            width: 100%;
            height: 100%;
    
            @media (max-width: 1110px) {
                display: none;
            }
        }
    }
}

/* mailing */

.mailing {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: 80px;
        color: #000 !important;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    &__subtitle {
        margin-top: 20px;
    }

    &__form {
        margin-top: 30px;

        form {
            display: flex;
            width: 490px;

            @media (max-width: 520px) {
                flex-direction: column;
                width: 320px;
            }

            @media (max-width: 320px) {
                flex-direction: column;
                width: 200px;
            }
        }

        input[type=text] {
            flex-grow: 1;
            box-sizing: border-box;
            background: #FFF;
            border: 1px solid #F2F2F2;
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            border-radius: 30px 0px 0px 30px;
            padding: 14px 33px;
            font-weight: 400;
            font-size: 0.813em;
            line-height: 21px;
            color: $thirdColor;
            outline: none;

            @media (max-width: 520px) {
                border-radius: 30px 30px 0px 0px;
            }
        }

        input[type=text]::-webkit-input-placeholder {
            color: $thirdColor;
        }

        input[type=submit] {
            box-sizing: border-box;
            background-color: $fourthColor;
            color: #fff;
            font-weight: 500;
            font-size: 1em;
            line-height: 20px;
            border-style: none;
            padding: 14px 36px;
            width: 190px;
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            border-radius: 0px 30px 30px 0px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: rgba($color: $fourthColor, $alpha: 0.8);
            }

            @media (max-width: 520px) {
                width: 320px !important;
                border-radius: 0px 0px 30px 30px;
            }

            @media (max-width: 320px) {
                width: 200px !important;
                border-radius: 0px 0px 30px 30px;
            }
        }
    }

    &__description {
        margin-top: 35px;
        margin-bottom: 85px;
        font-size: 13px;
        line-height: 21px;

        @media (max-width: 768px) {
            margin-bottom: 20px;;
        }
    }
}

/* foot */ 

.foot {
    background-color: #F6F6F8;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__list {
        padding: 70px 0px;
        display: flex;
        border-bottom: 1px solid #E0E0E0;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 20px;
            justify-content: center;
        }

        @media (max-width: 320px) {
            padding: 20px 0px;
            row-gap: 20px;
            column-gap: unset;
        }
    }

    &__item {
        flex: 0 0 25%;

        @media (max-width: 768px) {
            flex: 0 0 calc(50% - 20px);
        }

        @media (max-width: 320px) {
            flex: 0 0 100%;
        }
    }

    &__title {
        color: #000 !important;
        margin-bottom: 5px;
    }

    &__text {
        margin-top: 30px;
        font-size: 0.875em;

        &::before {
            content: url(/images/foot/arrow.svg);
            margin-right: 10px;
        }

        @media (max-width: 320px) {
            margin-top: 10px;
        }
    }

    &__item:first-child {
        .foot__text:nth-child(2)::before {
            content: url(/images/foot/mail.svg);
        }

        .foot__text:nth-child(3)::before {
            content: url(/images/foot/phone.svg);
        }

        .foot__text:nth-child(4)::before {
            content: url(/images/foot/location.svg);
        }
    }

    &__description {
        margin: 30px 0px;
        align-self: center;
    }
}

/* blocks */

$containerWidth: 1110px;

.container {
    max-width: $containerWidth;
    margin: 0px auto;

    @media (max-width: 1110px) {
        margin: unset;
        padding: 0px 20px;
    }
}

.button {
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    background-color: $fourthColor;
    padding: 14px 36px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgba($color: $fourthColor, $alpha: 0.8);
    }
}

.title {
    font-size: 2.25em;
    color: $secondColor;
    font-weight: 700;
    line-height: 53px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 1.8em;
        line-height: 40px;
    }

    @media (max-width: 480px) {
        font-size: 1.5em;
        line-height: 30px;
    }
}

.subtitle {
    font-size: 1.125em;
    color: $secondColor;
    font-weight: 600;
    line-height: 22px;
}

.text {
    color: $thirdColor;
    font-weight: 400;
    line-height: 25px;
}